<%- include('./common/bodyhead'); %>

    <body>


        <%- body %>

            <!-- ==================Pages Container End================ -->

            <!-- ===================================================== -->
            <!-- ======================Script========================= -->

            <script src="/socket.io/socket.io.js"></script>
            <script src="../JS/trackorder.js"></script>

    </body>


    </html>