<%- include('./common/bodyhead'); %>

    <body>


        <%- body %>

            <!-- ==================Pages Container End================ -->

            <!-- ===================================================== -->
            <!-- ======================Script========================= -->


            <div id="preloader">
                <div class="loading_container">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
    </body>


    </html>