<%- include('./common/bodyhead'); %>

    <body>


        <%- body %>


            <!-- ==================Pages Container End================ -->

            <!-- ===================================================== -->
            <!-- ======================Script========================= -->

    </body>


    </html>