<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="E-commerce Website for buying a products">
    <meta name="author" content="Nilesh_Rathod">
    <link rel="icon" href="../img/HeadIcons.png" type="image/jpg">
    <!-- -----------------Style Links--------------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- ===============FontAwesome CDN============ -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- ================Poppins Fonts============= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container-fluid px-0">
        <div id="resetPassword">
            <div class="heading">
                <div class="logo">
                    <a href="/">WB</a>
                </div>
            </div>

            <div id="resetPasswordBody" class="container-fluid px-0 mt-xl-2 mt-5">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-5 d-xl-block d-none leftSide">
                        <div class="images">
                            <img src="../img/reset-password.svg" alt="reset-images">
                        </div>
                    </div>
                    <div class="col-xl-5 mx-xl-0 mx-auto rightSide">
                        <div class="heading">
                            <h2>Reset Password 🔓</h2>
                            <p class="title">Your new password must be different from previously used passwords</p>
                        </div>
                        <div class="forms">
                            <form action="" method="POST">
                                <div
                                    class="feild password <%= messages.emptypassword || messages.passwordempty || messages.notmatch || messages.servererror ? 'error' : '' %>">
                                    <label for="forgetemail">New Password</label>
                                    <div id="input" class="inputContent">
                                        <input type="password" class="input password" name="password"
                                            placeholder="New Password" onkeyup="removePasswordError()"
                                            autocomplete="off">
                                        <i id="eye_lock" class="far fa-eye-slash"></i>
                                    </div>

                                    <span id="perror">!!Please enter an empty feild</span>

                                </div>

                                <div
                                    class="feild Cpassword mt-3 <%= messages.emptypassword || messages.confirmpasswordempty || messages.notmatch || messages.servererror ? 'error' : '' %>">
                                    <label for="forgetemail">Confirm Password</label>
                                    <div id="input" class="inputContent">
                                        <input type="password" class="input Cpassword" name="Cpassword"
                                            placeholder="Confirm Password" onkeyup="removeConPasswordError()"
                                            autocomplete="off">
                                        <i id="eye_lock" class="far fa-eye-slash"></i>
                                        <input id="hidden" type="hidden" name="userID" value="<%= userID %>">

                                    </div>
                                    <span id="cerror">!!Please enter an empty feild</span>
                                </div>

                                <div class="buttons">
                                    <div class="button">
                                        <button id="submit" type="submit">Set New Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==========Container End======== -->

    <div id="preloader">
        <div class="loading_container">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- ===========================Script JS======================= -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="../JS/resetPassword.js"></script>
    <script>

        let preloader = document.querySelector('#preloader');

        if (preloader) {
            window.addEventListener('load', () => {
                preloader.style.display = 'none';
            });
        }

        function removePasswordError() {
            let feild = document.querySelector("form .password");

            feild.classList.remove("error")

            let span = document.querySelector("perror");

            if (span) {
                style.display = "none";
            }
        }

        function removeConPasswordError() {
            let feild = document.querySelector("form .Cpassword");

            feild.classList.remove("error")

            let span = document.querySelector("cerror");

            if (span) {
                style.display = "none";
            }
        }
    </script>
</body>

</html>