<%- include('../../common/adminBodyHead'); %>

    <div class="container-fluid px-0">
        <%- include('../../common/adminHeader'); %>

            <!-- ==================Header End================= -->
            <main id="adminContainer" class="container-fluid">
                <div class="heading">
                    <h2 class="mb-0">Product Details</h2>
                </div>

                <div id="adminProducts_details">
                    <div class="details_containes">
                        <!-- products details data -->
                        <div class="content">
                            <div class="images">
                                <!-- Product Images -->
                                <!-- Products Titles -->
                            </div>
                            <div class="product_info">
                                <span class="title">
                                    <!-- Product Head Details -->
                                </span>
                                <div class="star__rating">
                                    <div class="star">
                                        <!-- Rating Starts -->
                                    </div>
                                    <span class="line"></span>
                                    <div class="rating">
                                        <span>
                                            <!-- Rating Values -->
                                        </span>
                                    </div>
                                </div>
                                <div id="adminhr"></div>
                                <div class="products_prices">
                                    <div class="offer">
                                        <span>
                                            <!-- Products Offers -->
                                        </span>
                                    </div>
                                    <div class="amount">
                                        <span class="left">₹</span>
                                        <span class="price_amt">
                                            <!-- Products Price -->
                                        </span>
                                        <span class="right">.00</span>
                                    </div>
                                </div>
                                <div class="mrp_price">
                                    <span>M.R.P :
                                        <span class="under_line">
                                            <!-- Products MRP -->
                                        </span>
                                    </span>
                                </div>

                                <div id="adminhr"></div>

                                <table id="product_tabel">
                                    <!-- Table Fetchs -->
                                </table>

                                <div id="adminhr"></div>

                                <div class="about_content_items">
                                    <h4>About this item</h4>
                                    <ul class="aboutList">
                                        <!-- list fetch data -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="buying_Content">
                            <div class="social_media">
                                <div class="share_content">
                                    <span>Share</span>
                                    <div class="social_icons">
                                        <a href="https://mail.google.com/" target='_blank' rel='noreferrer'>
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" target='_blank' rel='noreferrer'>
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="https://www.instagram.com/" target='_blank' rel='noreferrer'>
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="https://twitter.com/" target='_blank' rel='noreferrer'>
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="adminhr"></div>
                            </div>
                            <div class="products_buying_sections">
                                <div class="amount">
                                    <span class="left">₹</span>
                                    <span class="price_amt">
                                        <!-- Products Price -->
                                    </span>
                                    <span class="right">.00</span>
                                </div>

                                <div class="product_status">
                                    <span>
                                        <!-- Stock Status -->
                                    </span>
                                </div>

                                <div class="sold_by_us">
                                    <span>
                                        Sold by <span class="SoldBy" style="color:#00cfe8;">
                                            <!-- Sold By name -->
                                        </span> and <br class="d-lg-block d-none"> <span
                                            style="color:#00cfe8;">Fulfilled by
                                            WB.</span>
                                    </span>
                                </div>

                                <div id="buyOrAtc" class="buttons_buying_addToCart">
                                    <button class="addtoCart">Add to Cart</button>
                                    <button class="buyNow">Buy now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descriptions">
                        <h4>Product description</h4>
                        <p>
                            <span class="des_text">
                                <!-- Products Descriptions -->
                                <span>
                                    <!-- details fetch -->
                                </span>
                            </span>
                        </p>
                    </div>
                </div>

            </main>
    </div>

    <!-- ==========Container End======== -->

    <div id="preloader">
        <div class="loading_container">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <%- include('../../common/adminFooter'); %>

        <!-- ==================Footer End================= -->

        <div id="adminSidebar">
            <div class="navbar-logo d-flex align-items-center">
                <a href="/api/adminPage/dashboard">
                    <span class="logo">WB</span>
                    WishBin
                </a>
                <div class="sidebar-dismiss">
                    <div class="logo">
                        <span class="material-icons">close</span>
                    </div>
                </div>
            </div>

            <!-- -----------navbar-logo and Dismiss End----------- -->

            <nav class="sidebar-nav">
                <div class="divider">
                    <hr>
                </div>
                <ul>
                    <li>
                        <a href="/api/adminPage/dashboard" class="navLink">
                            <div class="icon">
                                <span class="material-icons">dashboard</span>
                            </div>
                            <div class="text">Dashboard</div>
                        </a>
                    </li>

                    <li>
                        <a id="expand_more" href="#" data-bs-toggle="collapse" data-bs-target="#page_menu"
                            class="d-flex navLink collapsed">
                            <div class="icon">
                                <span class="material-icons">description</span>
                            </div>
                            <div class="text">
                                Pages
                                <span class="material-icons">expand_more</span>
                            </div>
                        </a>

                        <ul id="page_menu" class="dropdown-nav collapse">
                            <li>
                                <a class="homePage" href="/" class="active">
                                    <div class="icon">
                                        <span class="material-icons">roofing</span>
                                    </div>
                                    <div class="text">Home Page</div>
                                </a>
                            </li>
                            <li>
                                <a href="/cartpage">
                                    <div class="icon">
                                        <span class="material-icons">shopping_cart</span>
                                    </div>
                                    <div class="text">Cart Page</div>
                                </a>
                            </li>
                            <li>
                                <a href="/orderpage">
                                    <div class="icon">
                                        <span class="material-icons">shopping_cart_checkout</span>
                                    </div>
                                    <div class="text">Order Page</div>
                                </a>
                            </li>
                            <li>
                                <a href="/wishlistpage">
                                    <div class="icon">
                                        <span class="material-icons">favorite</span>
                                    </div>
                                    <div class="text">
                                        Wishlist Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/electronicproduct">
                                    <div class="icon">
                                        <span class="material-icons">dvr</span>
                                    </div>
                                    <div class="text">
                                        Electronic Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/toysproducts">
                                    <div class="icon">
                                        <span class="material-icons">toys</span>
                                    </div>
                                    <div class="text">
                                        Toys Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/mobileproducts">
                                    <div class="icon">
                                        <span class="material-icons">smartphone</span>
                                    </div>
                                    <div class="text">
                                        Mobile Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/groceriesproducts">
                                    <div class="icon">
                                        <span class="material-icons">kitchen</span>
                                    </div>
                                    <div class="text">
                                        Groceries Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/furnitureproducts">
                                    <div class="icon">
                                        <span class="material-icons">weekend</span>
                                    </div>
                                    <div class="text">
                                        Furniture Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/gameproducts">
                                    <div class="icon">
                                        <span class="material-icons">smart_toy</span>
                                    </div>
                                    <div class="text">
                                        Games Page
                                    </div>
                                </a>
                            </li>


                            <li>
                                <a href="/computerproducts">
                                    <div class="icon">
                                        <span class="material-icons">computer</span>
                                    </div>
                                    <div class="text">
                                        Computer Page
                                    </div>
                                </a>
                            </li>


                            <li>
                                <a href="/clothproducts">
                                    <div class="icon">
                                        <span class="material-icons">checkroom</span>
                                    </div>
                                    <div class="text">
                                        Cloth Page
                                    </div>
                                </a>
                            </li>


                            <li>
                                <a href="/babyclothproducts">
                                    <div class="icon">
                                        <span class="material-icons">child_care</span>
                                    </div>
                                    <div class="text">
                                        Baby Cloths Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/Error">
                                    <div class="icon">
                                        <span class="material-icons">error</span>
                                    </div>
                                    <div class="text">
                                        Error Page
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a id="expand_more" href="#" data-bs-toggle="collapse" data-bs-target="#auth_menu"
                            class="d-flex navLink collapsed">
                            <div class="icon">
                                <span class="material-icons">switch_account</span>
                            </div>
                            <div class="text">
                                Auth
                                <span class="material-icons">expand_more</span>
                            </div>
                        </a>
                        <ul id="auth_menu" class="dropdown-nav collapse">
                            <li>
                                <a href="/login" target="_blank">
                                    <div class="icon">
                                        <span class="material-icons">verified_user</span>
                                    </div>
                                    <div class="text">
                                        Login Page
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/register" target="_blank">
                                    <div class="icon">
                                        <span class="material-icons">app_registration</span>
                                    </div>
                                    <div class="text">
                                        Registers Page
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/forgetpassword" target="_blank">
                                    <div class="icon">
                                        <span class="material-icons">password</span>
                                    </div>
                                    <div class="text">
                                        Forget Password Page
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <span class="material-icons">lock_reset</span>
                                    </div>
                                    <div class="text">
                                        Reset Password Page
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/api/adminPage/customer" class="navLink">
                            <div class="icon">
                                <span class="material-icons">groups</span>
                            </div>
                            <div class="text">Customers</div>
                        </a>
                    </li>

                    <li>
                        <a href="/api/adminPage/orders" class="navLink">
                            <div class="icon">
                                <span class="material-icons">receipt_long</span>
                            </div>
                            <div class="text">Orders</div>
                        </a>
                    </li>

                    <li>
                        <a href="#" id="expand_more" data-bs-toggle="collapse" data-bs-target="#product_menu"
                            class="d-flex navLink active collapsed">
                            <div class="icon">
                                <span class="material-icons">category</span>
                            </div>
                            <div class="text">
                                Products
                                <span class="material-icons">expand_more</span>
                            </div>
                        </a>

                        <ul id="product_menu" class="dropdown-nav collapse show">
                            <li>
                                <a href="/api/adminPage/preview">
                                    <div class="icon">
                                        <span class="material-icons">visibility</span>
                                    </div>
                                    <div class="text">All Product</div>
                                </a>
                            </li>
                            <li>
                                <a href="/api/adminPage/productdetails" class="is-active">
                                    <div class="icon">
                                        <span class="material-icons">preview</span>
                                    </div>
                                    <div class="text">
                                        Product Details
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/api/adminPage/userprofile" class="navLink">
                            <div class="icon">
                                <span class="material-icons">account_circle</span>
                            </div>
                            <div class="text">User Profile</div>
                        </a>
                    </li>

                    <li>
                        <a href="/api/adminPage/messages" class="navLink">
                            <div class="icon">
                                <span class="material-icons">outgoing_mail</span>
                            </div>
                            <div class="text">Messages</div>
                        </a>
                    </li>

                </ul>
                <div class="divider">
                    <hr>
                </div>
            </nav>


            <form id="adminLogout" action="/logout" method="POST">
                <button class="navLink" type="submit" onclick="document.getElementById('adminLogout')">
                    <div class="icon">
                        <span class="material-icons">logout</span>
                    </div>
                    <div class="text">Logout</div>
                </button>
            </form>
        </div>

        <div id="adminOverlay"></div>

        <!-- ===========================Script JS======================= -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="../../../JS/mainAdmin.js"></script>
        <script src="../../../JS/AdminProductsDetails.js"></script>

        </body>

        </html>