@import "./roots";

#resetPassword {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #ffbf96, #fe7096);
    padding: 2rem;
    overflow-y: hidden;


    & .heading {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        & .logo {
            width: 45px;
            height: 45px;
            border: 2px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            text-align: center;

            & a {
                color: $white;
                font-weight: 800;
                line-height: 45px;
            }

        }
    }
}

#resetPasswordBody {

    & .leftSide {
        & .images {
            height: 500px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    & .rightSide {
        padding: 10px 5rem;
        height: 100%;
        line-height: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;

        & .heading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            width: 100%;

            & h2 {
                color: $white;
                text-shadow: 1px 1px #000;
            }

            & p {
                margin-top: 1rem;
                color: $white;
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        & .forms {
            height: 100%;
            width: 100%;

            & form {
                & .feild {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    & label {
                        margin-bottom: 0.3em;
                        font-size: 1rem;
                        font-weight: 600;
                        color: $dark_color;
                        letter-spacing: 0.4px;
                    }

                    & .inputContent {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        width: 100%;
                        margin-bottom: 0.3rem;

                        & input {
                            width: 100%;
                            height: 45px;
                            padding: 0.4rem 1rem;
                            outline: none;
                            border: 2px solid $dark_color;
                            color: $white;
                            border-radius: 5px;
                            font-size: 14px;
                            margin: 0;
                            transition: $CardsTransition_03;
                            background: transparent;
                        }

                        & input:focus {
                            border-color: none;
                        }

                        & input::placeholder {
                            font-weight: 500;
                            color: #eee;
                            font-size: 14px;
                        }

                        & i {
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            padding: 0.8rem;
                            cursor: pointer;
                            color: $white;
                        }
                    }


                    &.error {
                        & .inputContent {
                            & input {
                                border-color: $adminDanger;
                            }
                        }

                        & span {
                            background: $adminDanger;
                            border-radius: 5px;
                            padding: 0.4rem 1rem;
                            color: $white;
                            font-size: 14px;
                        }

                        & #perror,
                        & #cerror {
                            display: block;
                        }
                    }

                    & #perror,
                    & #cerror {
                        background: $adminDanger;
                        border-radius: 5px;
                        padding: 0.4rem 1rem;
                        color: $white;
                        font-size: 14px;
                        display: none;
                    }

                }
            }

            & .buttons {
                margin-top: 2rem;
                width: 100%;

                & button {
                    width: 100%;
                    height: auto;
                    padding: 0.8rem 2rem;
                    background: $dark_color;
                    color: $white;
                    font-weight: 500;
                    border-radius: 8px;
                    letter-spacing: 0.4px;
                    box-shadow: $BoxShadow_04 $RGBA_04;
                    transform: $CardsTransition_03;

                    &:hover {
                        background: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
    }
}

// #submit {
//     &:disabled {
//         background: rgba(0, 0, 0, 0.6) !important;
//     }
// }