<footer>
    <div class="adminFooter">
        <span>copyright &copy; 2022 <a href="/api/adminPage/dashboard" class="link"><span class="logo">WB</span>
                WishBin.in</a>
            All
            rights
            reserved.</span>
    </div>
</footer>