<footer>
    <div class="adminFooter">
        <p>copyright &copy; 2022 <a href="/api/adminPage/dashboard" class="link">
                WishBin.in</a>
            All
            rights
            reserved.</p>
    </div>
</footer>