<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="E-commerce Website for buying a products">
    <meta name="author" content="Nilesh_Rathod">
    <link rel="icon" href="../../img/HeadIcons.png" type="image/jpg">
    <!-- ===============FontAwesome CDN============ -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- =============Link Swiper's CSS============ -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- ================Poppins Fonts============= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <!-- ==============CSS-StyleSheet============== -->
    <link rel="stylesheet" href="../../CSS/style.css">

    <style>
        #card_section .card_container .cards.Toys::after {
            background: url('../../img/ToysBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Computer::after {
            background: url('../../img/ComputerBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Groceries::after {
            background: url('../../img/GroceriesBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Furniture::after {
            background: url('../../img/FurnituresBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Mobiles::after {
            background: url('../../img/MobilesBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.BabyCloths::after {
            background: url('../../img/BabyToysBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Cloths::after {
            background: url('../../img/ClothsBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Electronics::after {
            background: url('../../img/ElectronicsBG.png') no-repeat;
            background-size: contain;
        }

        #card_section .card_container .cards.Games::after {
            background: url('../../img/GameBG.png') no-repeat;
            background-size: contain;
        }

        /* ====================card_section Products Background End======================== */

        #footer_bg::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: url("../../img/footer.svg") no-repeat center bottom;
            background-size: contain;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 1;
            margin-bottom: 1.5rem;
        }

        /* ===========================Footer Background End================================ */

        #loginPage .wrapper,
        #registersPage .wrapper {
            width: 100%;
            height: 100%;
        }

        #registersPage .wrapper .images {
            height: 450px;
            width: 100%;
            background-size: contain !important;
            background: url("../../img/RegistersBGImages.png") no-repeat right;
            margin-right: 10rem;
        }

        #loginPage .wrapper .images {
            width: 100%;
            background: url("../../img/loginBGImg.svg") no-repeat left;
            background-size: contain !important;
            margin-left: 4rem;
            height: 450px;
        }
    </style>

    <title>WishBin | Online Shopping site in India: Shop Online for Mobiles, Cloths, Groceries, Electronics and More -
        WishBin.in</title>
</head>