<footer class="footer">
    <div class="footer_container">
        <div class="top_container">
            <div class="content">
                <span>Ready to get started?</span>
                <span>Join us today!</span>
            </div>
            <div class="button">
                <a href="./login" role="button">
                    <i class="fas fa-paper-plane"></i>
                    Get started
                </a>
            </div>
        </div>
        <div class="main_hr"></div>
        <div class="footer_">
            <div class="bottom_container">
                <ul>
                    <h2>TOP CATEGORIES</h2>
                    <li>
                        <a href="./clothproducts">
                            <i class="fas fa-angle-double-right"></i> Men's Cloths
                        </a>
                    </li>
                    <li>
                        <a href="./clothproducts">
                            <i class="fas fa-angle-double-right"></i> Women's Cloths
                        </a>
                    </li>
                    <li>
                        <a href="./mobileproducts">
                            <i class="fas fa-angle-double-right"></i> Mobile
                        </a>
                    </li>
                    <li>
                        <a href="./computerproducts">
                            <i class="fas fa-angle-double-right"></i> Computer Accessories
                        </a>
                    </li>
                    <li>
                        <a href="./gameproducts">
                            <i class="fas fa-angle-double-right"></i> Games
                        </a>
                    </li>
                </ul>
                <div class="hr"></div>
                <ul>
                    <h2>COMPANY</h2>
                    <li>
                        <a href="#About">
                            <i class="fas fa-angle-double-right"></i> About us
                        </a>
                    </li>
                    <li>
                        <a href="#Carees">
                            <i class="fas fa-angle-double-right"></i> Carees
                        </a>
                    </li>
                    <li>
                        <a href="#Conditions">
                            <i class="fas fa-angle-double-right"></i> Terms & Conditions of Sales
                        </a>
                    </li>
                    <li>
                        <a href="#Leadership">
                            <i class="fas fa-angle-double-right"></i> Leadership
                        </a>
                    </li>
                    <li>
                        <a href="#Partners">
                            <i class="fas fa-angle-double-right"></i> Partners
                        </a>
                    </li>
                </ul>
                <div class="hr"></div>
                <ul>
                    <h2>PRODUCT</h1>
                        <li>
                            <a href="#works">
                                <i class="fas fa-angle-double-right"></i> How it works
                            </a>
                        </li>
                        <li>
                            <a href="#recommendation">
                                <i class="fas fa-angle-double-right"></i> Recommendation
                            </a>
                        </li>
                        <li>
                            <a href="/contactus">
                                <i class="fas fa-angle-double-right"></i> Contact Us
                            </a>
                        </li>
                </ul>
                <div class="hr last_hr"></div>

            </div>

            <div class="footer_images">
                <img src="../img/footerLogo.svg" alt="footerLogo">
                <h1>WishBin<span>.</span>in</h1>
            </div>
        </div>
        <div id="footer_bg" class="footer_bg"></div>
    </div>
    <div class="main_footer">
        <span>copyright &copy; 2022 <a href="/" class="link">WishBin.in</a> All rights
            reserved.</span>
    </div>
</footer>