<% if(user) { %>
    <div id="offers_containers">
        <div class="offers_button">
            <div class="icons"></div>
            <div class="titles">
                <p>FLAT ₹500 OFF</p>
            </div>
        </div>
        <div class="offers_contents">
            <div class="container">
                <div class="wrapper">
                    <div class="content">
                        <div class="header"><span>AVAIL FLAT</span></div>
                        <div class="priceOff"><span>₹500 OFF</span></div>
                        <div class="free_shipp"><span>+ FREE SHIPPING</span></div>
                        <div class="bottom_offers">
                            <span class="couponCode">Coupon Code: <span class="couponOffer">
                                    WISHBIN500</span></span>
                            <span class="avail">Applicable on your first order</span>
                        </div>
                    </div>
                    <div class="images">
                        <img src="../img/footerLogo.svg" alt="images">
                    </div>
                </div>

                <div class="footerContent">
                    <div class="left_side">
                        <span><i style="color:#0984e3;" class="fas fa-tshirt"></i> Cloths</span>
                        <span><i style="color:#E9C799;" class="fas fa-couch"></i> Furniture</span>
                        <span><i class="fas fa-mobile-alt"></i>Smart Phones</span>
                        <span><i style="color:#ff4757;" class="fab fa-playstation"></i> Games</span>
                        <span>+ more</span>
                    </div>

                    <div class="right_side">
                        <h2>Upcoming Offers</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>